<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chatting Tab
    </ion-title>
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <ion-text color="primary">Current User: </ion-text>
    <ion-text color="danger">{{userName}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chatting Tab</ion-title>
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-text color="primary">Current User: </ion-text>
      <ion-text color="danger">{{userName}}</ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-header collapse="condense">
    <ion-text color="primary">Current User: </ion-text>
    <ion-text color="danger">{{userName}}</ion-text>
  </ion-header>

  <br />
  <div>
    <ion-item>
        <ion-input label="Enter Your Name" labelPlacement="floating" placeholder="Name" [(ngModel)]="userNamePending"></ion-input>
      </ion-item>
      <ion-button size="small" (click)="submitUsername()">Submit</ion-button>
  </div>

  <br />
  <div>
    <ion-item>
      <ion-textarea placeholder="Message" label="Enter Your Message" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="message">
      </ion-textarea>
    </ion-item>
    <ion-button size="small" color="success" (click)="sendMessage()">Send</ion-button>
  </div>

  <br />
  <div>
    <strong> Chat Box</strong>
    <br>
    <div id = "chat-box">
      <ul>
        <li *ngFor="let message of messages">
          <strong> {{message.name}}: </strong> {{message.message}}
        </li>
      </ul>
    </div>
  </div>

</ion-content>
